---
- name: Init controller
  become: true
  ansible.builtin.command:
    cmd: |
      kubeadm init
      --control-plane-endpoint={{ ansible_host }}
      --node-name {{ ansible_hostname }}
      --pod-network-cidr={{ k8s_pod_network_cidr }}
      --upload-certs
  changed_when: true
  register: kubeadm_command

- name: Create kube directory
  ansible.builtin.file:
    path: /home/{{ ansible_user }}/.kube
    state: directory
    mode: '0755'

- name: Copy kube to the created directory
  become: true
  ansible.builtin.copy:
    src: /etc/kubernetes/admin.conf
    dest: /home/{{ ansible_user }}/.kube/config
    remote_src: true
    mode: '0600'
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: Label controller as master node
  ansible.builtin.command:
    cmd: kubectl label node {{ ansible_hostname }} node-role.kubernetes.io/master=""
  changed_when: true

- name: Label controller as etcd node
  ansible.builtin.command:
    cmd: kubectl label node {{ ansible_hostname }} node-role.kubernetes.io/etcd=""
  changed_when: true
...
