---
- name: Init controller
  become: true
  ansible.builtin.command:
    cmd: |
      kubeadm init
      --control-plane-endpoint={{ ansible_host }}
      --node-name {{ ansible_hostname }}
      --pod-network-cidr={{ k8s_pod_network_cidr }}
      --upload-certs
      --cluster-name {{ k8s_cluster_name }}
  changed_when: true
  register: kubeadm_command

- name: Create directory for kubeconfig
  ansible.builtin.file:
    path: "{{ k8s_master_node_kubeconfig | dirname }}"
    state: directory
    mode: '0755'

- name: Copy the kubeconfig to {{ k8s_master_node_kubeconfig }}
  become: true
  ansible.builtin.copy:
    src: /etc/kubernetes/admin.conf
    dest: "{{ k8s_master_node_kubeconfig }}"
    remote_src: true
    mode: '0600'
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: Label node with control-plane
  ansible.builtin.command:
    cmd: kubectl label node {{ ansible_hostname }} node-role.kubernetes.io/control-plane=""
  changed_when: true

- name: Label node with etcd
  ansible.builtin.command:
    cmd: kubectl label node {{ ansible_hostname }} node-role.kubernetes.io/etcd=""
  changed_when: true
...
