---
- name: Determine already joined nodes
  ansible.builtin.shell:
    cmd: |
      set -o pipefail
      kubectl get nodes | tail -n +2 | awk '{print $1 }'
  args:
    executable: /usr/bin/bash
  changed_when: false
  register: get_nodes
  delegate_to: "{{ k8s_master_node }}"
  run_once: true

- name: Join node if not already joined
  when: ansible_hostname not in get_nodes.stdout_lines
  block:
    - name: Get join command from controller
      become: true
      ansible.builtin.command:
        cmd: kubeadm token create --print-join-command
      changed_when: false
      register: kubeadm_command
      delegate_to: "{{ k8s_master_node }}"
      run_once: true

    - name: Join control plane to cluster
      become: true
      ansible.builtin.command:
        cmd: "{{ kubeadm_command.stdout }} --certificate-key --control-plane"
      changed_when: true

    - name: Label as control plane
      ansible.builtin.command:
        cmd: kubectl label node {{ ansible_hostname }} node-role.kubernetes.io/control-plane=true
      changed_when: true
      delegate_to: "{{ k8s_master_node }}"
...
