---
- name: Install required packages
  become: true
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop:
    - containerd
    - gpg
    - apt-transport-https
    - ca-certificates
    - curl
    - open-iscsi
    - nfs-common
    - pigz

- name: Start and enable required packages
  become: true
  ansible.builtin.service:
    name: "{{ item }}"
    enabled: true
    state: started
  loop:
    - containerd

- name: Prepare directory
  become: true
  ansible.builtin.file:
    path: /etc/containerd
    state: directory

- name: Gather default config
  ansible.builtin.command:
    cmd: containerd config default
  changed_when: false
  register: default_config

- name: Create default config file
  become: true
  ansible.builtin.copy:
    dest: /etc/containerd/config.toml
    content: "{{ default_config.stdout }}"
    mode: '0644'

- name: Modify default config file
  become: true
  ansible.builtin.lineinfile:
    path: /etc/containerd/config.toml
    regexp: '.*SystemdCgroup =.*'
    line: '            SystemdCgroup = true'
    backrefs: true
    state: present

- name: Set vm.swappiness to 0
  become: true
  ansible.posix.sysctl:
    name: vm.swappiness
    value: 0
    state: present

- name: Disable swap
  become: true
  ansible.builtin.lineinfile:
    path: /etc/fstab
    regexp: '^\/swap.img.*'
    line: '#\g<0>'
    backrefs: true
    state: present

- name: Activate ip_forward
  become: true
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    sysctl_set: true
    state: present
    reload: true

- name: Enable br_netfilter
  become: true
  ansible.builtin.lineinfile:
    path: /etc/modules-load.d/k8s.conf
    line: br_netfilter
    create: true
    mode: '0644'

- name: Reboot
  become: true
  ansible.builtin.reboot:
...
