---
- name: Verify inventory and connectivity
  hosts: all
  gather_facts: false
  tags: check
  tasks:
    - name: Ensure that Ansible group k8s_master_node is only set to 1 host
      ansible.builtin.assert:
        that:
          - groups['k8s_master_node'] | length == 1
        fail_msg: "❌ Ansible group 'k8s_master_node' is not set to 1 host"
        success_msg: "✅ Ansible group 'k8s_master_node' is only set to 1 host ({{ groups['k8s_master_node'][0] }}"
      run_once: true

    - name: Ensure ansible_host is set for all hosts
      ansible.builtin.assert:
        that:
          - hostvars[item].ansible_host is defined
          - hostvars[item].ansible_host | length > 0
        fail_msg: "❌ Host '{{ item }}' does not have ansible_host defined!"
        success_msg: "✅ Host '{{ item }}' has ansible_host set to '{{ hostvars[item].ansible_host }}'."
      run_once: true
      loop: "{{ groups['k8s_cluster'] }}"

    - name: Ensure required vars are set
      ansible.builtin.assert:
        that:
          - vars[item] is defined
          - vars[item] | string | length > 0
        fail_msg: "❌ Required variable '{{ item }}' is not defined or empty."
        success_msg: "✅ Variable '{{ item }}' is set to '{{ vars[item] }}'."
      loop:
        - k8s_master_node
      run_once: true

    - name: Check SSH connectivity
      ansible.builtin.ping:

- name: Prepare nodes for Kubernetes
  hosts: k8s_cluster
  tags: install
  tasks:
    - name: Apply role k8s/prepare
      ansible.builtin.include_role:
        name: k8s
        tasks_from: prepare

    - name: Apply role k8s/install
      ansible.builtin.include_role:
        name: k8s
        tasks_from: install

- name: Initialize cluster
  hosts: k8s_master_node
  tags: cluster
  tasks:
    - name: Apply role k8s/cluster
      ansible.builtin.include_role:
        name: k8s
        tasks_from: init-cluster

- name: Install Helm
  hosts: k8s_master_node
  tags: helm
  roles:
    - helm

- name: Install Flannel
  hosts: k8s_master_node
  tags: flannel
  tasks:
    - name: Add Helm repo for Flannel
      kubernetes.core.helm_repository:
        name: flannel
        repo_url: https://flannel-io.github.io/flannel/

    - name: Deploy flannel in cluster
      kubernetes.core.helm:
        release_name: flannel
        chart_ref: flannel/flannel
        chart_version: v0.27.4
        release_namespace: kube-flannel
        create_namespace: true
        values:
          podCidr: 10.244.0.0/16

- name: Join control plane nodes to cluster
  hosts: k8s_controllers:!k8s_master_node
  tags: controllers
  tasks:
    - name: Apply role k8s/join-control-plane
      ansible.builtin.include_role:
        name: k8s
        tasks_from: join-control-plane

- name: Join worker nodes to cluster
  hosts: k8s_workers
  tags: workers
  tasks:
    - name: Apply role k8s/join-worker
      ansible.builtin.include_role:
        name: k8s
        tasks_from: join-worker

- name: Kubernetes smoke test
  hosts: k8s_master_node
  gather_facts: false
  tags: test,smoke
  tasks:
    - name: Get all node names from Kubernetes
      ansible.builtin.command: kubectl get nodes -o jsonpath='{.items[*].metadata.name}'
      register: k8s_nodes
      changed_when: false

    - name: Wait for each node to be Ready
      ansible.builtin.command: kubectl get node {{ item }} --no-headers
      loop: "{{ k8s_nodes.stdout.split() }}"
      register: nodes_status
      retries: 10
      delay: 3
      until: "'Ready' in nodes_status.stdout"
      changed_when: false

    - name: Deploy test pod
      ansible.builtin.command:
        cmd: kubectl run testpod --image=nginx --restart=Never --wait=true
      changed_when: true
      ignore_errors: true

    - name: Verify test pod status
      command: kubectl get pod testpod -o jsonpath='{.status.phase}'
      register: podstatus
      retries: 10
      delay: 3
      until: podstatus.stdout == 'Running'
      changed_when: false

    - name: Clean up test pod
      ansible.builtin.command: kubectl delete pod testpod
      changed_when: true
      ignore_errors: true
...
